In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
DROP TABLE IF EXISTS Country;
DROP TABLE IF EXISTS CovidCases;
DROP TABLE IF EXISTS Continent;
DROP TABLE IF EXISTS _country_temp;
DROP TABLE IF EXISTS CountryBorders;

CREATE TABLE Continent (
    code VARCHAR (2) NOT NULL,
    name VARCHAR (20) NOT NULL,
    PRIMARY KEY (code)
) AS SELECT
    Code,
    Name
    FROM CSVREAD('../data/continent-codes_csv.csv');
    
CREATE TABLE Country (
    iso_code_2c VARCHAR(2) NOT NULL,
    iso_code_3c VARCHAR(8) NOT NULL,
    country_name VARCHAR (100),
    continent_code VARCHAR(2),
    country_number INTEGER,
    PRIMARY KEY(iso_code_2c),
    FOREIGN KEY (continent_code) REFERENCES Continent(code)
) AS SELECT 
    Two_Letter_Country_Code,
    Three_Letter_Country_Code,
    Country_Name,
    Continent_Code,
    Country_Number
    FROM CSVREAD('../data/country-and-continent-codes-list-csv_csv.csv');

CREATE TABLE _country_tmp (
    iso_code_3c VARCHAR(8) NOT NULL,
    population DOUBLE,
    population_density DOUBLE,
    median_age DOUBLE,
    aged_65_older DOUBLE,
    aged_70_older DOUBLE,
    gdp_per_capita DOUBLE,
    extreme_poverty DOUBLE,
    cardiovasc_death_rate DOUBLE,
    diabetes_prevalence DOUBLE,
    female_smokers DOUBLE,
    male_smokers DOUBLE,
    handwashing_facilities DOUBLE,
    hospital_beds_per_thousand DOUBLE,
    life_expectancy DOUBLE,
    human_development_index DOUBLE,
    PRIMARY KEY (iso_code_3c)
) AS SELECT
    iso_code,
    population,
    population_density,
    median_age,
    aged_65_older,
    aged_70_older,
    gdp_per_capita,
    extreme_poverty,
    cardiovasc_death_rate,
    diabetes_prevalence,
    female_smokers,
    male_smokers,
    handwashing_facilities,
    hospital_beds_per_thousand,
    life_expectancy,
    human_development_index
    FROM CSVREAD('../data/owid-covid-data.csv');

CREATE TABLE CovidCases (
    iso_code_3c VARCHAR(8) NOT NULL,
    date DATE NOT NULL,
    total_cases DOUBLE,
    new_cases DOUBLE, 
    total_deaths DOUBLE,
    new_deaths DOUBLE,
    total_tests DOUBLE,
    FOREIGN KEY (iso_code_3c) REFERENCES Country (iso_code_3c)
) AS SELECT
    iso_code,
    date,
    total_cases,
    new_cases,
    total_deaths,
    new_deaths,
    total_tests
    FROM CSVREAD('../data/owid-covid-data.csv');

CREATE TABLE CountryBorders (
    iso_code_2c VARCHAR (2) NOT NULL,
    country_border_iso_code_2c VARCHAR(2) NOT NULL,
    FOREIGN KEY (iso_code_2c) REFERENCES Country (iso_code_2c),
    FOREIGN KEY (country_border_iso_code_2c) REFERENCES Country (iso_code_2c)
) AS SELECT
    country_code,
    country_border_code
    FROM CSVREAD('../data/GEODATASOURCE-COUNTRY-BORDERS.csv');

In [ ]:
SELECT * FROM Country;
SELECT * FROM CovidCases;
SELECT * FROM Continent;
SELECT * FROM _country_temp;
SELECT * FROM CountryBorders;

# Queries atualizadas com base em nossa nova análise junto às fontes de dados adicionadas

## 1) Update da tabela Country para adicionar os dados vindos da fonte de dados OWID

In [ ]:
ALTER TABLE Country ADD COLUMN population DOUBLE;
UPDATE Country c
SET c.population = (
    SELECT temp.population
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN population_density DOUBLE;
UPDATE Country c
SET c.population_density = (
    SELECT temp.population_density
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN median_age DOUBLE;
UPDATE Country c
SET c.median_age = (
    SELECT temp.median_age
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN aged_65_older DOUBLE;
UPDATE Country c
SET c.aged_65_older = (
    SELECT temp.aged_65_older
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN aged_70_older DOUBLE;
UPDATE Country c
SET c.aged_70_older = (
    SELECT temp.aged_70_older
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN gdp_per_capita DOUBLE;
UPDATE Country c
SET c.gdp_per_capita = (
    SELECT temp.gdp_per_capita
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN extreme_poverty DOUBLE;
UPDATE Country c
SET c.extreme_poverty = (
    SELECT temp.extreme_poverty
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN cardiovasc_death_rate DOUBLE;
UPDATE Country c
SET c.cardiovasc_death_rate = (
    SELECT temp.cardiovasc_death_rate
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN diabetes_prevalence DOUBLE;
UPDATE Country c
SET c.diabetes_prevalence = (
    SELECT temp.diabetes_prevalence
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN female_smokers DOUBLE;
UPDATE Country c
SET c.female_smokers = (
    SELECT temp.female_smokers
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN male_smokers DOUBLE;
UPDATE Country c
SET c.male_smokers = (
    SELECT temp.male_smokers
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN handwashing_facilities DOUBLE;
UPDATE Country c
SET c.handwashing_facilities = (
    SELECT temp.handwashing_facilities
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN hospital_beds_per_thousand DOUBLE;
UPDATE Country c
SET c.hospital_beds_per_thousand = (
    SELECT temp.hospital_beds_per_thousand
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN life_expectancy DOUBLE;
UPDATE Country c
SET c.life_expectancy = (
    SELECT temp.life_expectancy
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN human_development_index DOUBLE;
UPDATE Country c
SET c.human_development_index = (
    SELECT temp.human_development_index
    FROM _country_temp temp
    WHERE c.iso_code_3c = temp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_temp temp
      WHERE c.iso_code_3c = temp.iso_code_3c
);

## 2) Número de mortes por continente

In [ ]:
DROP VIEW MortesPais IF EXISTS;

CREATE VIEW MortesPais AS
SELECT c.iso_code_3c, cv.total_deaths, cv.date
FROM Country c, CovidCases cv
WHERE c.iso_code_3c = cv.iso_code_3c
ORDER BY cv.date DESC
LIMIT 210;

SELECT co.name as Continente, SUM(mp.total_deaths) AS Total_Mortes, COUNT(c.iso_code_3c) AS Paises
FROM Country c, MortesPais mp, Continent co
WHERE co.code = c.continent_code AND c.iso_code_3c = mp.iso_code_3c
GROUP BY co.name
ORDER BY Total_Mortes DESC

## 3) Quantidade de fronteiras que cada país possui

In [ ]:
DROP VIEW QtdadeFronteiras IF EXISTS;

CREATE VIEW QtdadeFronteiras AS
SELECT cb.iso_code_2c, Count(*) AS Quantidade
    FROM CountryBorders cb
    GROUP BY cb.iso_code_2c;

SELECT *
    FROM QtdadeFronteiras
    ORDER BY DESC

SELECT c.name as Pais, COUNT()

## 4) Número de mortes por COVID por ordem de IDH

In [ ]:
SELECT c.name, co.total_deaths, c.human_development_index, co.date
    FROM Country c, CasosCovid co
    WHERE c.iso_code = co.iso_code
    ORDER BY co.date DESC, c.human_development_index DESC
    LIMIT 210

## 5) Análise da espectativa de vida com mortes por COVID

In [ ]:
SELECT c.name, c.life_expectancy, co.total_deaths, co.date
    FROM Country c, CasosCovid co
    WHERE c.iso_code = co.iso_code
    ORDER BY co.date DESC, c.life_expectancy DESC
    LIMIT 210