In [1]:
%defaultDatasource jdbc:h2:mem:db

# Criação das tabelas

In [2]:
DROP TABLE IF EXISTS Country;
DROP TABLE IF EXISTS CovidCases;
DROP TABLE IF EXISTS Continent;
DROP TABLE IF EXISTS _country_tmp;
DROP TABLE IF EXISTS CountryBorders;

CREATE TABLE Continent (
    code VARCHAR (2) NOT NULL,
    name VARCHAR (20) NOT NULL,
    PRIMARY KEY (code)
) AS SELECT
    Code,
    Name
    FROM CSVREAD('../data/continent-codes_csv.csv');
    
CREATE TABLE Country (
    iso_code_2c VARCHAR(2) NOT NULL,
    iso_code_3c VARCHAR(8),
    country_name VARCHAR (100),
    continent_code VARCHAR(2),
    country_number INTEGER,
    PRIMARY KEY(iso_code_2c),
    FOREIGN KEY (continent_code) REFERENCES Continent(code)
) AS SELECT 
    Two_Letter_Country_Code,
    Three_Letter_Country_Code,
    Country_Name,
    Continent_Code,
    Country_Number
    FROM CSVREAD('../data/country-and-continent-codes-list-csv_csv.csv');
    
CREATE TABLE _country_tmp (
    iso_code_3c VARCHAR(8),
    population DOUBLE,
    population_density DOUBLE,
    median_age DOUBLE,
    aged_65_older DOUBLE,
    aged_70_older DOUBLE,
    gdp_per_capita DOUBLE,
    extreme_poverty DOUBLE,
    cardiovasc_death_rate DOUBLE,
    diabetes_prevalence DOUBLE,
    female_smokers DOUBLE,
    male_smokers DOUBLE,
    handwashing_facilities DOUBLE,
    hospital_beds_per_thousand DOUBLE,
    life_expectancy DOUBLE,
    human_development_index DOUBLE
--     PRIMARY KEY (iso_code_3c)
) AS SELECT
    iso_code,
    population,
    population_density,
    median_age,
    aged_65_older,
    aged_70_older,
    gdp_per_capita,
    extreme_poverty,
    cardiovasc_death_rate,
    diabetes_prevalence,
    female_smokers,
    male_smokers,
    handwashing_facilities,
    hospital_beds_per_thousand,
    life_expectancy,
    human_development_index
    FROM CSVREAD('../data/owid-country-data.csv');

CREATE TABLE CovidCases (
    iso_code_3c VARCHAR(8) NOT NULL,
    date DATE NOT NULL,
    total_cases DOUBLE,
    new_cases DOUBLE, 
    total_deaths DOUBLE,
    new_deaths DOUBLE,
    total_tests DOUBLE,
--     FOREIGN KEY (iso_code_3c) REFERENCES Country (iso_code_3c)
) AS SELECT
    iso_code,
    date,
    total_cases,
    new_cases,
    total_deaths,
    new_deaths,
    total_tests
    FROM CSVREAD('../data/owid-covid-data.csv');
    
DELETE FROM CovidCases WHERE iso_code_3c = 'OWID_KOS';
DELETE FROM CovidCases WHERE iso_code_3c = 'OWID_WRL';

ALTER TABLE CovidCases ADD FOREIGN KEY (iso_code_3c) REFERENCES Country(iso_code_3c);

CREATE TABLE CountryBorders (
    iso_code_2c VARCHAR (2) NOT NULL,
    country_border_iso_code_2c VARCHAR(2) NOT NULL,
    FOREIGN KEY (iso_code_2c) REFERENCES Country (iso_code_2c),
--     FOREIGN KEY (country_border_iso_code_2c) REFERENCES Country (iso_code_2c)
) AS SELECT
    country_code,
    country_border_code
    FROM CSVREAD('../data/GEODATASOURCE-COUNTRY-BORDERS.csv');
    
DELETE FROM CountryBorders WHERE country_border_iso_code_2c = '';
ALTER TABLE CountryBorders ADD FOREIGN KEY (country_border_iso_code_2c) REFERENCES Country(iso_code_2c);

In [6]:
SELECT * FROM Country;
SELECT * FROM CovidCases;
SELECT * FROM Continent;
-- SELECT * FROM _country_tmp;
SELECT * FROM CountryBorders;

# Queries atualizadas com base em nossa nova análise junto às fontes de dados adicionadas

## 1) Update da tabela Country para adicionar os dados vindos da fonte de dados OWID

In [4]:
ALTER TABLE Country ADD COLUMN population DOUBLE;
UPDATE Country c
SET c.population = (
    SELECT tmp.population
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN population_density DOUBLE;
UPDATE Country c
SET c.population_density = (
    SELECT tmp.population_density
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN median_age DOUBLE;
UPDATE Country c
SET c.median_age = (
    SELECT tmp.median_age
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN aged_65_older DOUBLE;
UPDATE Country c
SET c.aged_65_older = (
    SELECT tmp.aged_65_older
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN aged_70_older DOUBLE;
UPDATE Country c
SET c.aged_70_older = (
    SELECT tmp.aged_70_older
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN gdp_per_capita DOUBLE;
UPDATE Country c
SET c.gdp_per_capita = (
    SELECT tmp.gdp_per_capita
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN extreme_poverty DOUBLE;
UPDATE Country c
SET c.extreme_poverty = (
    SELECT tmp.extreme_poverty
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN cardiovasc_death_rate DOUBLE;
UPDATE Country c
SET c.cardiovasc_death_rate = (
    SELECT tmp.cardiovasc_death_rate
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN diabetes_prevalence DOUBLE;
UPDATE Country c
SET c.diabetes_prevalence = (
    SELECT tmp.diabetes_prevalence
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN female_smokers DOUBLE;
UPDATE Country c
SET c.female_smokers = (
    SELECT tmp.female_smokers
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN male_smokers DOUBLE;
UPDATE Country c
SET c.male_smokers = (
    SELECT tmp.male_smokers
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN handwashing_facilities DOUBLE;
UPDATE Country c
SET c.handwashing_facilities = (
    SELECT tmp.handwashing_facilities
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN hospital_beds_per_thousand DOUBLE;
UPDATE Country c
SET c.hospital_beds_per_thousand = (
    SELECT tmp.hospital_beds_per_thousand
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN life_expectancy DOUBLE;
UPDATE Country c
SET c.life_expectancy = (
    SELECT tmp.life_expectancy
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

ALTER TABLE Country ADD COLUMN human_development_index DOUBLE;
UPDATE Country c
SET c.human_development_index = (
    SELECT tmp.human_development_index
    FROM _country_tmp tmp
    WHERE c.iso_code_3c = tmp.iso_code_3c
    LIMIT 1
) WHERE exists (
      SELECT * 
      FROM  _country_tmp tmp
      WHERE c.iso_code_3c = tmp.iso_code_3c
);

DROP TABLE IF EXISTS _country_tmp;

## 2) Número de mortes por continente

In [7]:
DROP VIEW MortesPais IF EXISTS;

CREATE VIEW MortesPais AS
SELECT c.iso_code_3c, cv.total_deaths, cv.date
FROM Country c, CovidCases cv
WHERE c.iso_code_3c = cv.iso_code_3c
ORDER BY cv.date DESC
LIMIT 210;

SELECT co.name as Continente, SUM(mp.total_deaths) AS Total_Mortes, COUNT(c.iso_code_3c) AS Paises
FROM Country c, MortesPais mp, Continent co
WHERE co.code = c.continent_code AND c.iso_code_3c = mp.iso_code_3c
GROUP BY co.name
ORDER BY Total_Mortes DESC

## 3) Quantidade de fronteiras que cada país possui

In [14]:
DROP VIEW QtdadeFronteiras IF EXISTS;

CREATE VIEW QtdadeFronteiras AS
SELECT cb.iso_code_2c, COUNT(*) AS Quantidade
    FROM CountryBorders cb
    GROUP BY cb.iso_code_2c;

SELECT c.country_name, qtd.Quantidade as Quantidade
    FROM Country c, QtdadeFronteiras qtd
    WHERE c.iso_code_2c = qtd.iso_code_2c
    ORDER BY Quantidade DESC;

## 4) Número de mortes por COVID por ordem de IDH

In [ ]:
SELECT c.name, co.total_deaths, c.human_development_index, co.date
    FROM Country c, CasosCovid co
    WHERE c.iso_code = co.iso_code
    ORDER BY co.date DESC, c.human_development_index DESC
    LIMIT 210

## 5) Juntando os valores de maior numero de mortes com quantidade de fronteiras

In [19]:
SELECT c.country_name, qtd.Quantidade, mp.total_deaths
    FROM Country c,QtdadeFronteiras qtd, MortesPais mp
    WHERE c.iso_code_2c = qtd.iso_code_2c AND c.iso_code_3c = mp.iso_code_3c
    ORDER BY mp.total_deaths DESC, c.country_name